* {
  padding: 0;
  margin: 0;
}

a {
  color: silver;
}
a:hover {
  color: #8d8d8d;
}
a:active {
  color: blue;
}
a:visited {
  color: green;
}

#grid {
  float: left;
  width: 100%;
}
#grid > div {
  float: left;
  background: red;
  margin-right: 15%;
  margin-bottom: 15%;
  height: 150px;
  width: 23.3333333333%;
}
#grid > div:not-child(:last-child) {
  margin-right: 0;
}

.block:not(.first) {
  padding: 40px, 30px, 50px;
  background: #f1f1f1;
  height: 200px;
  border: 2px solid silver;
  width: 200px;
  margin-bottom: 20px;
}

#central__block {
  padding: 30px;
}
#central__block ul {
  list-style: none;
  display: inline-block;
}
#central__block li {
  float: left;
  width: 33.3333333333%;
}
#central__block li a {
  font-size: 1.1em;
  font-weight: bold;
  font-family: Arial, sans-serif;
  color: blue;
}
#central__block li a:hover {
  color: red;
}
#central__block a {
  font-size: 1.1em;
  font-weight: light;
  font-family: Arial, sans-serif;
  color: red;
}

.first {
  background: #f1f1f1;
  border: 2px solid silver;
  width: 200px;
  height: 100px;
  margin-bottom: 20px;
}