@mixin link($link, $hover, $active, $visited) {
    color: $link;

    &:hover {
        color: darken($link, 20%);
    }
    
    &:active {
        color: $active;
    }

    &:visited {
        color: $visited;
    }
}

@mixin font ($fontW: bold, $color: red) {
    font-size: $mainFontSize;
    font-weight: $fontW;
    font-family: Arial, sans-serif;
    color: $color;
}

@mixin padd($color, $padd...) {
    padding: $padd;
}

@mixin grid($cols, $margin) {
    float: left;
    background: red;
    margin-right: $margin;
    margin-bottom: $margin;
    height: 150px;
    width: ((100% - (($cols - 1) * $margin)) / $cols);

    &:not-child(:last-child) {
        margin-right: 0;
    } 
}