@mixin link($link, $hover, $active, $visited) {
    color: $link;

    &:hover {
        color: $hover;
    }
    
    &:active {
        color: $active;
    }

    &:visited {
        color: $visited;
    }
}

@mixin font ($fontW: bold, $color: red) {
    font-size: $mainFontSize;
    font-weight: $fontW;
    font-family: Arial, sans-serif;
    color: $color;
}

@mixin padd($color, $padd...) {
    padding: $padd;
}