@import "variables";
@import "mixins";

* {
    padding: 0;
    margin: 0;
}

a {
    @include link(silver, red, blue, green);
}

#grid {
    float: left;
    width: 100%;

   > div {
        @include grid(3, 15%);
    }
}

.block:not(.first) {
    @include padd(20px, 40px, 30px, 50px);
    background: $bgColor;
    height: 200px;
    border: $border;
    width: $blockWidth;
    margin-bottom: 20px;
}

#central__block {
    padding: 30px;

    ul {
        list-style: none;
        display: inline-block;
    }

    li {
        float: left;
        width: (100% / 3);
        //margin-right: 10px;

        a {
            @include font ($fontW: bold, $color:blue); 
           // color: blue;

           &:hover {
             color: red;
           }
        }
    }

    a {
        @include font (light);
        // color: $color;
    }
}

// #central__block > ul {
//    list-style: none;
// }

.first {
    background: $bgColor;
    border: $border;
    width: $blockWidth;
    height: 100px;
    margin-bottom: 20px;
}